{% set navItem = {name: "DOM XSS"} %}
{% set listFiles = listFiles %}
{% set templatePath = "templates/layout.njk" if isGlobal else "templates/none.njk" %}
{% extends templatePath %}

{% block sectionTitle -%}
  <h1 class="h2">{{ navItem.name }}</h1>
{%- endblock %}

{% block content %}
    
    <p>CWE-079: Improper Neutralization of Input During Web Page Generation ('Cross-site Scripting')</p>

    {% for item in listFiles("app/pages/rules/dom_xss/!(index).+(html|njk|nunjucks)") %}
    {% import item.replace("app/","") as page %}
    <li>
        <a href="{{ item.replace("app/pages/","/").replace(".njk",".html") }}">      
        {{ page.navItem.name }}
        </a>
    </li>
    {% endfor %}

{% endblock %}