{% extends "templates/layout.njk" %}

{% block title -%}
  Browser Test Bench
{%- endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    	<h1 class="h2">Dashboard</h1>
    </div>
	The Browser Test Banch is a template based ([nunjucks](https://mozilla.github.io/nunjucks/templating.html)), staic HTML, intentionally vulnerable web site showcasing browser based vulnerabilities.
{% endblock %}