{% set navItem = {name: "location.href"} %}
{% set templatePath = "templates/stage.njk" if isGlobal else "templates/none.njk" %}
{% extends templatePath %}

{% block sectionTitle -%}
  <h1 class="h2">{{ navItem.name }}</h1>
{%- endblock %}

{% block code %}
<script id="code">
{% include rulesTemplatePath+"open_redirect/location.href.njk" %}
</script>
{% endblock %}