{% set navItem = {name: "document.domain"} %}
{% set templatePath = "templates/stage.njk" if isGlobal else "templates/none.njk" %}
{% extends templatePath %}

{% block sectionTitle -%}
  <h1 class="h2">{{ navItem.name }}</h1>
{%- endblock %}

{% block code %}
<script id="code">
{% include rulesTemplatePath+"document_domain_manipulation/document.domain.njk" %}
</script>
{% endblock %}
