{% set navItem = {name: "Link Manipulation"} %}
{% set listFiles = listFiles %}
{% set templatePath = "templates/layout.njk" if isGlobal else "templates/none.njk" %}
{% extends templatePath %}

{% block sectionTitle -%}
  <h1 class="h2">{{ navItem.name }}</h1>
{%- endblock %}

{% block content %}
  
  <p>Link manipulation</p>

  {% for item in listFiles("app/pages/rules/link_manipulation/!(index).+(html|njk|nunjucks)") %}
  {% import item.replace("app/","") as page %}
  <li>
      <a href="{{ item.replace("app/pages/","/").replace(".njk",".html") }}">      
      {{ page.navItem.name }}
      </a>
  </li>
  {% endfor %}

{% endblock %}