<nav>
  <ul>
{% block nav %}
    <li><a href="/index.html">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
{% endblock %}
  </ul>
</nav>

<h1>Posts</h1>

<ul>
{% for item in listFiles("app/pages/sources/**/*.+(html|njk|nunjucks)") %}
  {% import item.replace("app/","") as page %} 
  <li>{{ page.navItem.name }} - {{ item.replace("app/pages/","") }}</li>
{% endfor %}
</ul>