{% extends "templates/layout.njk" %}

{% block content %}
  <div class="container-sm">
    <div class="card">
      <h5 class="card-header">
        Code
      </h5>
      <div class="card-body">
        <textarea id="editor" class='editor'></textarea>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-sm">
    <div class="card">
      <h5 class="card-header">
        Output
      </h5>
      <div class="card-body" id="output"></div>
    </div>
  </div>
  {% block code %}{% endblock %}
{% endblock %}